/*
	|-----------------------------------
	| Global variables
	|-----------------------------------
*/

$font-family: 'Roboto', sans-serif;
$font-size-base: 0.925rem;

$danger: #dc3545;
$success: #35dcc6;

$white: #f7f7fc;
