{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <section id="create-user">
        <div class="form">
            {{ form_start(form, {'action' : path('app_user_create')}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-success pull-right">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
